uv.lock

__pycache__/

src/unsupervised_learning.egg-info/

dataset/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Local markdown files (used for to do lists and other personal documents)

.local_docs/
